/* Yleinen asettelu */
.game-table {
}



/* Taulukon tyyli */
table {
    width: 100%;
    border-collapse: collapse; /* Poistaa kaksoisviivat */
}

    /* Taulukon solut */
    td {
        padding: 10px;
        text-align: center;
        border-bottom: 1px solid #ccc;
    }

/* Kotijoukkue ja vierasjoukkue teksti */
.game-table div {
    text-align: center;
}

.game-table div p {
    font-size: 1.2rem;
    line-height: 1.5;
}

.desktop-table {
    display: block;
  }

  .mobile-table {
    display: none;
  }
  
  
  /* Media query mobiililaitteille */
  @media (max-width: 750px) {
    .desktop-table {
      display: none;
    }

    .gametable-filters {
        height: 3em;
    }

    .gametable-filter {
        position: relative;
        background-color: transparent;
        border: none;
        color: whitesmoke;
        font-size: large;
        padding-top: 0.7em;
        margin-right: 1em;
        margin-left: 1em;
    }

    .gametable-active {
        font-weight: bold;
        text-decoration: none;
    }

    .game-table {
        border-radius: 15px;
        background-color: rgba(26,26,26,255); 
        margin-top: 2em;
    }

    .game-table-title {
        padding-top: 0.5em;
    }
  
    .mobile-table {
      display: block;
      color: black;
      margin: 0;
      font-size: large;
      background-color: transparent;
    }

    table {
        width: 100%;
        border-collapse: collapse; /* Poistaa kaksoisviivat */
    }
    
    /* Taulukon otsikot */
    th {
        background-color: #f4f4f4;
        padding: 10px;
        text-align: center;
    }

    .mobile-table td {
        background-color: rgba(26,26,26,255); 
        border-top: 4px solid rgba(46,46,46,255);   
        height: 2em;
    }
    
    .mobile-row {
        color: whitesmoke;
    }


  }
  
